<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Orfanato | Happy</title>

        <!-- Icon -->
        <link rel="icon" href="./assets/images/logo-icon.png">

        <!-- Style -->
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="./styles/map.css">
        <link rel="stylesheet" href="./styles/form.css">
        <link rel="stylesheet" href="./styles/buttons.css">
        <link rel="stylesheet" href="./styles/sidebar.css">
        <link rel="stylesheet" href="./styles/animations.css">
        <link rel="stylesheet" href="./styles/create-orphanage-page.css">

        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap">

        <!-- Leaflet -->
        <link 
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>

        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

        <!-- Script -->
        <script src="./scripts/create-orphanage-page.js" defer></script>
    </head>
    <body>
        <div id="create-orphanage-page">
            <aside class="animate-right">
                <img src="./assets/images/map-marker.svg" alt="Happy">
                <footer>
                    <button onClick="history.back()">
                        <img src="./assets/images/arrow-back.svg" alt="Voltar">
                    </button>
                </footer>
            </aside>
            <main class="animate-appear with-sidebar">
                <form>
                    <fieldset>
                        <legend>Dados</legend>
                        <div class="map-container">
                            <div id="mapid"></div>
                            <input type="hidden" name="lat" required>
                            <input type="hidden" name="lng" required>
                            <footer>
                                <a href="#" id="select-point">
                                    Clique no mapa para adicionar a localização
                                </a>
                            </footer>
                        </div>

                        <div class="input-block">
                            <label for="name">Nome</label>
                            <input id="name" name="name" required>
                        </div>
                        <div class="input-block">
                            <label for="about">Sobre <span>Máximo de 300 caracteres</span></label>
                            <textarea id="about" name="about" required></textarea>
                        </div>
                        <div class="input-block">
                            <label for="whatsapp">Número de WhatsApp</label>
                            <input id="whatsapp" name="whatsapp" required>
                        </div>
                        <div class="input-block images">
                            <label for="images">Foto</label>
                            <div id="images" class="upload-images">
                                <div class="new-image">
                                    <input name="images" placeholder="Cole o link da imagem aqui" required>
                                    <span onClick="removeImageField(event)">
                                        <img src="./assets/images/remove-image.svg" alt="Remover foto">
                                    </span>
                                </div>
                            </div>
                            <button type="button" onClick="addImageField()">
                                <img src="./assets/images/add-image.svg" alt="Adicionar foto">
                            </button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Visitação</legend>

                        <div class="input-block">
                            <label for="instructions">Instruções</label>
                            <textarea id="instructions" name="instructions" required></textarea>
                        </div>
                        <div class="input-block">
                            <label for="hours">Horário das Visitas</label>
                            <input id="hours" name="hours" required>
                        </div>
                        <div class="input-block">
                            <label for="weekends">Atende nos fins de semana?</label>
                            <input type="hidden" id="weekends" name="weekends" value="1" required>
                            <div class="select-button">
                                <button type="button" data-value="1" onClick="selectButton(event)" class="active">
                                    Sim
                                </button>
                                <button type="button" data-value="0" onClick="selectButton(event)">
                                    Não
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="primary-button">Confirmar</button>
                </form>
            </main>
        </div>
    </body>
</html>