* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    color: white;
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', 'sans-serif';
}

#page-landing {
    display: flex;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
}

#container {
    width: min(80%, 112rem);
    margin: auto;
}

main h1, .location, .visit p {
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    margin: auto;
    background-color: #ffc666;

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 200ms;
    animation-delay: 250ms;
}

.visit a:hover {
    background-color: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    font-size: clamp(4rem, 6vw, 6rem);
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

/* Desktop version */
@media (min-width: 760px) {
    #container {
        padding: 5rem 2rem;
        background: url('../assets/images/bg.svg') no-repeat 60% / clamp(30rem, 40vw, 45rem);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main h1, .location, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1 {
        line-height: .88;
        width: min(80%, 300px);
        margin-top: clamp(8%, 9vh, 10%);
        margin-bottom: 2rem;
    }

    .visit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit p {
        line-height: 1.2;
        font-size: 2.4rem;
        width: clamp(20rem, 20vw, 30rem);
    }

    .visit a {
        margin: initial;
    }
}